<header>
    <div class="container">
        <h1>BETS</h1>
        <h2>SALDO: 500</h2>
    </div>
    <button id="cerrarSesion">Cerrar Sesión</button>
</header>
<main>
    <div class="loaderContainer">
        <div class="loader"></div>
    </div>
    <div class="futureMatchsContainer">
    </div>
    <div class="tableContainer">
    </div>
    <div class="pastMatchsContainer">
    </div>
</main>

<script src="./socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>